/* ----------------------------------------------------------------------------------- */
/* Generales */
/* List */
/* Boton */
/* Navbar */
/* Hero General */
/* Hero Inicio */
/* Section */
/* Stats */
/* Card */
/* Acordeon */
/* Footer */
/* ----------------------------------------------------------------------------------- */

/* Generales */
:root {
  --primario-color: #ffc107;
  --secundario-color: #0b7575;
  --bs-dropdown-link-active-bg: #ffc107;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.6;
}

p {
  font-size: 1.2rem; 
  line-height: 1.5;
}

.text-justify {
  text-align: justify;
}
/* ----------------------------------------------------------------------------------- */

/* List */
.icono-visto-bueno {
  color: var(--secundario-color);
}

.lista-unstyled .bi {
  color: var(--secundario-color);
}

/* ----------------------------------------------------------------------------------- */

/* boton */
.btn-custom {
  background-color: #fff;
  border: 2px solid #fff;
  color: var(--secundario-color);;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom:hover {
  background-color: var(--secundario-color);;
  color: white;
}

.btn-custom2 {
  background-color: var(--secundario-color);
  border: 2px solid var(--secundario-color);
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom2:hover {
  background-color: #fff;
  color: var(--secundario-color);
}

/* ----------------------------------------------------------------------------------- */

/* Navbar */
.navbar {
  background-color: #252525 ;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: white ;
  position: relative;
  font-weight: bold;
  margin-right: 30px;
  transition: color 0.3s;
}

.nav-link:hover,
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--primario-color);
  font-weight: bolder;

}

.nav-link::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--primario-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

.dropdown-menu {
  width: auto;
  min-width: 600px;
  max-width: 100%;
  white-space: normal;
}

.dropdown-item {
  white-space: normal;
  word-wrap: break-word;
  padding: 10px 15px;
}

.dropdown-item:focus {
  background-color: var(--primario-color);
}
/* ----------------------------------------------------------------------------------- */

/* Hero General */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.hero-nosotros {
  background-image: url("img/nosotros/NOSOTROS-QSE.webp");
}

.hero-mecanismo {
  background-image: url("img/mecanismo/MECANISMO-DE-TRABAJO.webp");
}

.hero-capacitaciones {
  background-image: url("img/capacitaciones/CAPACITACIONES-QSE.webp");
}
.hero-contacto {
  background-image: url("img/contacto/CONTACTENOS-QSE.webp");
}

.hero-reclamaciones {
  background-image: url("img/reclamaciones/RECLAMACIONES-QSE.webp");
}

.hero-servicios {
  background-position: top center;
  background-image: url("img/servicios/SERVICIOS-QSE.webp");
}

.hero-blogs {
  background-image: url("img/blogs/BLOG-QSE.webp");
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
}

.hero h1,
.hero h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
}
/* ----------------------------------------------------------------------------------- */

/* Hero Inicio */
@keyframes imageSlider {
  0%,
  100% {
    background-image: url("img/inicio/INICIO-QSE-1.webp");
  }
  33% {
    background-image: url("img/inicio/INICIO-QSE-2.webp");
  }
  66% {
    background-image: url("img/inicio/INICIO-QSE-3.webp");
  }
}

.heroinicio {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  animation: imageSlider 15s infinite ease-in-out;
}

.heroinicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.heroinicio-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
}

.heroinicio h1,
.heroinicio h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
}
/* ----------------------------------------------------------------------------------- */

/* Section */
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
}

.button-container {
  margin-top: auto;
  text-align: center;
}
/* ----------------------------------------------------------------------------------- */

/* Stats */
.stats {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white; 
}

.stats.estadisicas {
  background-image: url("img/inicio/EXPERIENCIA-QSE-3.webp");
}


.stats.nuestras {
  background-image: url("img/nosotros/NOSOTROS-QSE-Nuestra-Vision.webp");
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
  z-index: 1;
}

.stats .container {
  position: relative;
  z-index: 2;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
/* ----------------------------------------------------------------------------------- */

/* card */
.service-icon {
  font-size: 3rem;
  color: var(--primario-color);
  transition: color 0.3s, transform 0.3s;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 15px;
  color: #333;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
/* ----------------------------------------------------------------------------------- */

/* acordeon */
.accordion-button:not(.collapsed) {
  background-color: var(--secundario-color);
  color: white;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(11, 117, 117, 0.5);
}
/* ----------------------------------------------------------------------------------- */

/* Footer */
footer {
  background-color: #333;
}

.img-margin-bottom {
  margin-bottom: 30px;
  width: 50%;
}

sub {
  background-color: #ffffff;
}

.social-icon {
  font-size: 1.3rem;
}

.copyryght {
font-size: large;
background-color: white;
color: black;
}

.bold-link {
  font-weight: bold; 
  color: inherit; 
  text-decoration: none; 
}
/* ----------------------------------------------------------------------------------- */



